.DS_Store
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/.idea/DevOpsConBerlin2023.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sonarlint.xml
/.idea/vcs.xml
